*{
	margin: 0;
	padding: 0px;
	text-decoration: none;
	list-style:none;

}
body{
	width: 100%;
	height: 100vh;
	background-color: lightblue;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header{
	background-color: #ffff;
	
	display: flex;
	flex-direction: column;
}
.header__contenedor{
	display: flex;
	align-items: center;
	padding: 20px;
}
.contenedor__logo{
	width: 70px;
	border-radius: 50%;
}
.contenedor__titulo{
	font-size: 35px;
	line-height: 35px;
	font-family: Arial, sans-serif;
	text-shadow: 0px 1px 1px rgb(156, 155, 155);
	margin-left: 20px;
	color: #FF6719;
}
.nav{
	background-color: #FF6719;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__menu, .nav__login{
	display: flex;
	padding: 10px;
}
.menu__item{
	margin: 0 10px;
}
.item__link{
	color: white;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}


.menu{
	display: flex;
	justify-content: center;
	background-color: aquamarine;
}
.item{
	margin: 10px;
}
.contenedor__imagen{
	display: flex;
	justify-content: center;
	padding: 20px;
}

.footer{
	padding: 10px;
	background-color: #000;

}
.footer__texto{
	font-size: 20px;
	line-height: 20px;
	color: #ffff;
	text-align: center;
}
.footer__redes{
	margin-top: 20px;
}
.redes__sociales{
	display: flex;
	justify-content: center;
}
.sociales__link{
	margin: 0 10px;
}
.link__redes{
	font-size: 18px;
	color: #ffff;
}

.main{
	background-color: lightcoral;
	display: flex;
}
.main_imagen{
	display: flex;	
	align-items: center;
	padding: 0 0 0 10px;
}
.imagen__titulo{
	font-weight: bold;
	font-style: italic;
	font-size: 35px;
}

.imagen__operadora{
	width: 200px;
}

.main__box1, .main__box2{
	width: 40%;
	height: 100%;
	background-color: orange;
}
.main__box2{
	background-color: red;
}